/*글로벌 스타일*/

:root {
  font-family: Inter, system-ui, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;

  color: rgba(0, 0, 0, 0.8);
  background-color: #dae3f3;

  font-synthesis: none; /* 브라우저가 글꼴 스타일을 자동으로 조정하는 것을 방지 */
  text-rendering: optimizeLegibility; /* 텍스트 렌더링(가독성) 최적화 */
  -webkit-font-smoothing: antialiased; /* 웹킷 브라우저(크롬, 사파리 등) 폰트 부드럽게 */
  -moz-osx-font-smoothing: grayscale; /* 모질라 브라우저(파이어폭스) 폰트 부드럽게 */
}

body {
  margin: 0;
  box-sizing: border-box; /* padding, border 포함한 전체 요소 크기 계산 */
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}

button {
  border: 0;
  cursor: pointer;
}
